<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties"></properties>
	<settings>
		<setting name="logImpl" value="LOG4J"/>
	</settings>
	<typeAliases>
		<!-- 类(Mapper.class)的别名,方便Mapper.xml引用 -->
		<typeAlias type="com.etoak.book.books.po.Book" alias="book"></typeAlias>
		<typeAlias type="com.etoak.book.books.po.Category" alias="ca"></typeAlias>
		<typeAlias type="com.etoak.book.books.po.Bookpic" alias="bp"></typeAlias>
	</typeAliases>
	<environments default="mysql">
		<!-- 数据库配置文件 -->
		<environment id="mysql">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="${et.driver}" />
				<property name="url" value="${et.url}" />
				<property name="username" value="${et.user}" />
				<property name="password" value="${et.pwd}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<!-- 引入Mapper.xml -->
		<mapper resource="com/etoak/book/books/po/BookMapper.xml"></mapper>
		<mapper resource="com/etoak/book/books/po/BookpicMapper.xml"></mapper>
		<mapper resource="com/etoak/book/books/po/CategoryMapper.xml"></mapper>
	</mappers>
</configuration>
